SaleProject/src/conf/xml-resources/web-service-references/MarketplaceService/wsdl/localhost_37177/MarketplacceService/MarketplaceService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://MarketplaceService/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://MarketplaceService/">

<xs:element name="AddProduct" type="tns:AddProduct"/>

<xs:element name="AddProductResponse" type="tns:AddProductResponse"/>

<xs:element name="EditProduct" type="tns:EditProduct"/>

<xs:element name="EditProductResponse" type="tns:EditProductResponse"/>

<xs:element name="beli" type="tns:beli"/>

<xs:element name="beliResponse" type="tns:beliResponse"/>

<xs:element name="productmu" type="tns:productmu"/>

<xs:element name="productmuResponse" type="tns:productmuResponse"/>

<xs:element name="sale" type="tns:sale"/>

<xs:element name="saleResponse" type="tns:saleResponse"/>

<xs:element name="viewproduct" type="tns:viewproduct"/>

<xs:element name="viewproductResponse" type="tns:viewproductResponse"/>

<xs:complexType name="productmu">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="productmuResponse">
<xs:sequence>
<xs:element name="return" type="tns:yourproduct" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="yourproduct">
<xs:sequence>
<xs:element name="date" type="tns:date" minOccurs="0"/>
<xs:element name="deskripsi" type="xs:string" minOccurs="0"/>
<xs:element name="hargabarang" type="xs:double"/>
<xs:element name="idKatalog" type="xs:int"/>
<xs:element name="jumlahbeli" type="xs:int"/>
<xs:element name="jumlahlike" type="xs:int"/>
<xs:element name="namabarang" type="xs:string" minOccurs="0"/>
<xs:element name="time" type="tns:time" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="date">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="time">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="AddProduct">
<xs:sequence>
<xs:element name="nama_barang" type="xs:string" minOccurs="0"/>
<xs:element name="harga_barang" type="xs:int"/>
<xs:element name="deskripsi" type="xs:string" minOccurs="0"/>
<xs:element name="id_user" type="xs:int"/>
<xs:element name="image" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AddProductResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="viewproduct">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="search" type="xs:string" minOccurs="0"/>
<xs:element name="filter" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="viewproductResponse">
<xs:sequence>
<xs:element name="return" type="tns:product" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="product">
<xs:sequence>
<xs:element name="deskripsi" type="xs:string" minOccurs="0"/>
<xs:element name="hargabarang" type="xs:double"/>
<xs:element name="imgpath" type="xs:string" minOccurs="0"/>
<xs:element name="jumlahbeli" type="xs:int"/>
<xs:element name="jumlahlike" type="xs:int"/>
<xs:element name="namabarang" type="xs:string" minOccurs="0"/>
<xs:element name="usernama" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="beli">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="beliResponse">
<xs:sequence>
<xs:element name="return" type="tns:buy" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buy">
<xs:sequence>
<xs:element name="alamatpenerima" type="xs:string" minOccurs="0"/>
<xs:element name="date" type="tns:date" minOccurs="0"/>
<xs:element name="hargabarang" type="xs:string" minOccurs="0"/>
<xs:element name="idpenjual" type="xs:int"/>
<xs:element name="imagepath" type="xs:string" minOccurs="0"/>
<xs:element name="jumlahbeli" type="xs:int"/>
<xs:element name="kodepos" type="xs:int"/>
<xs:element name="namabarang" type="xs:string" minOccurs="0"/>
<xs:element name="namapenerima" type="xs:string" minOccurs="0"/>
<xs:element name="notelp" type="xs:int"/>
<xs:element name="time" type="tns:time" minOccurs="0"/>
<xs:element name="totalharga" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sale">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="saleResponse">
<xs:sequence>
<xs:element name="return" type="tns:sales" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sales">
<xs:sequence>
<xs:element name="alamatpenerima" type="xs:string" minOccurs="0"/>
<xs:element name="date" type="tns:date" minOccurs="0"/>
<xs:element name="hargabarang" type="xs:string" minOccurs="0"/>
<xs:element name="iduser" type="xs:int"/>
<xs:element name="imagepath" type="xs:string" minOccurs="0"/>
<xs:element name="jumlahbeli" type="xs:int"/>
<xs:element name="kodepos" type="xs:int"/>
<xs:element name="namabarang" type="xs:string" minOccurs="0"/>
<xs:element name="namapenerima" type="xs:string" minOccurs="0"/>
<xs:element name="notelp" type="xs:int"/>
<xs:element name="time" type="tns:time" minOccurs="0"/>
<xs:element name="totalharga" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="EditProduct">
<xs:sequence>
<xs:element name="idUser" type="xs:int"/>
<xs:element name="idKatalog" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="EditProductResponse">
<xs:sequence>
<xs:element name="return" type="tns:product" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>