SaleProject/src/conf/xml-resources/web-service-references/MarketplaceService/wsdl/localhost_37177/MarketplacceService/MarketplaceService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://MarketplaceService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://MarketplaceService/" name="MarketplacceService">
<types>
<xsd:schema>
<xsd:import namespace="http://MarketplaceService/" schemaLocation="http://localhost:37177/MarketplacceService/MarketplaceService?xsd=1"/>
</xsd:schema>
</types>
<message name="productmu">
<part name="parameters" element="tns:productmu"/>
</message>
<message name="productmuResponse">
<part name="parameters" element="tns:productmuResponse"/>
</message>
<message name="InvalidTokenException">
<part name="fault" element="tns:InvalidTokenException"/>
</message>
<message name="sale">
<part name="parameters" element="tns:sale"/>
</message>
<message name="saleResponse">
<part name="parameters" element="tns:saleResponse"/>
</message>
<message name="viewproduct">
<part name="parameters" element="tns:viewproduct"/>
</message>
<message name="viewproductResponse">
<part name="parameters" element="tns:viewproductResponse"/>
</message>
<message name="addLiked">
<part name="parameters" element="tns:addLiked"/>
</message>
<message name="addLikedResponse">
<part name="parameters" element="tns:addLikedResponse"/>
</message>
<message name="addUnliked">
<part name="parameters" element="tns:addUnliked"/>
</message>
<message name="addUnlikedResponse">
<part name="parameters" element="tns:addUnlikedResponse"/>
</message>
<message name="AddProduct">
<part name="parameters" element="tns:AddProduct"/>
</message>
<message name="AddProductResponse">
<part name="parameters" element="tns:AddProductResponse"/>
</message>
<message name="beli">
<part name="parameters" element="tns:beli"/>
</message>
<message name="beliResponse">
<part name="parameters" element="tns:beliResponse"/>
</message>
<message name="confirmpurchase">
<part name="parameters" element="tns:confirmpurchase"/>
</message>
<message name="confirmpurchaseResponse">
<part name="parameters" element="tns:confirmpurchaseResponse"/>
</message>
<message name="UpdateProduct">
<part name="parameters" element="tns:UpdateProduct"/>
</message>
<message name="UpdateProductResponse">
<part name="parameters" element="tns:UpdateProductResponse"/>
</message>
<message name="deleteProduk">
<part name="parameters" element="tns:deleteProduk"/>
</message>
<message name="deleteProdukResponse">
<part name="parameters" element="tns:deleteProdukResponse"/>
</message>
<message name="EditProduct">
<part name="parameters" element="tns:EditProduct"/>
</message>
<message name="EditProductResponse">
<part name="parameters" element="tns:EditProductResponse"/>
</message>
<portType name="MarketplaceService">
<operation name="productmu">
<input wsam:Action="http://MarketplaceService/MarketplaceService/productmuRequest" message="tns:productmu"/>
<output wsam:Action="http://MarketplaceService/MarketplaceService/productmuResponse" message="tns:productmuResponse"/>
<fault message="tns:InvalidTokenException" name="InvalidTokenException" wsam:Action="http://MarketplaceService/MarketplaceService/productmu/Fault/InvalidTokenException"/>
</operation>
<operation name="sale">
<input wsam:Action="http://MarketplaceService/MarketplaceService/saleRequest" message="tns:sale"/>
<output wsam:Action="http://MarketplaceService/MarketplaceService/saleResponse" message="tns:saleResponse"/>
<fault message="tns:InvalidTokenException" name="InvalidTokenException" wsam:Action="http://MarketplaceService/MarketplaceService/sale/Fault/InvalidTokenException"/>
</operation>
<operation name="viewproduct">
<input wsam:Action="http://MarketplaceService/MarketplaceService/viewproductRequest" message="tns:viewproduct"/>
<output wsam:Action="http://MarketplaceService/MarketplaceService/viewproductResponse" message="tns:viewproductResponse"/>
<fault message="tns:InvalidTokenException" name="InvalidTokenException" wsam:Action="http://MarketplaceService/MarketplaceService/viewproduct/Fault/InvalidTokenException"/>
</operation>
<operation name="addLiked">
<input wsam:Action="http://MarketplaceService/MarketplaceService/addLikedRequest" message="tns:addLiked"/>
<output wsam:Action="http://MarketplaceService/MarketplaceService/addLikedResponse" message="tns:addLikedResponse"/>
<fault message="tns:InvalidTokenException" name="InvalidTokenException" wsam:Action="http://MarketplaceService/MarketplaceService/addLiked/Fault/InvalidTokenException"/>
</operation>
<operation name="addUnliked">
<input wsam:Action="http://MarketplaceService/MarketplaceService/addUnlikedRequest" message="tns:addUnliked"/>
<output wsam:Action="http://MarketplaceService/MarketplaceService/addUnlikedResponse" message="tns:addUnlikedResponse"/>
<fault message="tns:InvalidTokenException" name="InvalidTokenException" wsam:Action="http://MarketplaceService/MarketplaceService/addUnliked/Fault/InvalidTokenException"/>
</operation>
<operation name="AddProduct">
<input wsam:Action="http://MarketplaceService/MarketplaceService/AddProductRequest" message="tns:AddProduct"/>
<output wsam:Action="http://MarketplaceService/MarketplaceService/AddProductResponse" message="tns:AddProductResponse"/>
<fault message="tns:InvalidTokenException" name="InvalidTokenException" wsam:Action="http://MarketplaceService/MarketplaceService/AddProduct/Fault/InvalidTokenException"/>
</operation>
<operation name="beli">
<input wsam:Action="http://MarketplaceService/MarketplaceService/beliRequest" message="tns:beli"/>
<output wsam:Action="http://MarketplaceService/MarketplaceService/beliResponse" message="tns:beliResponse"/>
<fault message="tns:InvalidTokenException" name="InvalidTokenException" wsam:Action="http://MarketplaceService/MarketplaceService/beli/Fault/InvalidTokenException"/>
</operation>
<operation name="confirmpurchase">
<input wsam:Action="http://MarketplaceService/MarketplaceService/confirmpurchaseRequest" message="tns:confirmpurchase"/>
<output wsam:Action="http://MarketplaceService/MarketplaceService/confirmpurchaseResponse" message="tns:confirmpurchaseResponse"/>
</operation>
<operation name="UpdateProduct">
<input wsam:Action="http://MarketplaceService/MarketplaceService/UpdateProductRequest" message="tns:UpdateProduct"/>
<output wsam:Action="http://MarketplaceService/MarketplaceService/UpdateProductResponse" message="tns:UpdateProductResponse"/>
<fault message="tns:InvalidTokenException" name="InvalidTokenException" wsam:Action="http://MarketplaceService/MarketplaceService/UpdateProduct/Fault/InvalidTokenException"/>
</operation>
<operation name="deleteProduk">
<input wsam:Action="http://MarketplaceService/MarketplaceService/deleteProdukRequest" message="tns:deleteProduk"/>
<output wsam:Action="http://MarketplaceService/MarketplaceService/deleteProdukResponse" message="tns:deleteProdukResponse"/>
<fault message="tns:InvalidTokenException" name="InvalidTokenException" wsam:Action="http://MarketplaceService/MarketplaceService/deleteProduk/Fault/InvalidTokenException"/>
</operation>
<operation name="EditProduct">
<input wsam:Action="http://MarketplaceService/MarketplaceService/EditProductRequest" message="tns:EditProduct"/>
<output wsam:Action="http://MarketplaceService/MarketplaceService/EditProductResponse" message="tns:EditProductResponse"/>
<fault message="tns:InvalidTokenException" name="InvalidTokenException" wsam:Action="http://MarketplaceService/MarketplaceService/EditProduct/Fault/InvalidTokenException"/>
</operation>
</portType>
<binding name="MarketplaceServicePortBinding" type="tns:MarketplaceService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="productmu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidTokenException">
<soap:fault name="InvalidTokenException" use="literal"/>
</fault>
</operation>
<operation name="sale">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidTokenException">
<soap:fault name="InvalidTokenException" use="literal"/>
</fault>
</operation>
<operation name="viewproduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidTokenException">
<soap:fault name="InvalidTokenException" use="literal"/>
</fault>
</operation>
<operation name="addLiked">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidTokenException">
<soap:fault name="InvalidTokenException" use="literal"/>
</fault>
</operation>
<operation name="addUnliked">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidTokenException">
<soap:fault name="InvalidTokenException" use="literal"/>
</fault>
</operation>
<operation name="AddProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidTokenException">
<soap:fault name="InvalidTokenException" use="literal"/>
</fault>
</operation>
<operation name="beli">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidTokenException">
<soap:fault name="InvalidTokenException" use="literal"/>
</fault>
</operation>
<operation name="confirmpurchase">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="UpdateProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidTokenException">
<soap:fault name="InvalidTokenException" use="literal"/>
</fault>
</operation>
<operation name="deleteProduk">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidTokenException">
<soap:fault name="InvalidTokenException" use="literal"/>
</fault>
</operation>
<operation name="EditProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidTokenException">
<soap:fault name="InvalidTokenException" use="literal"/>
</fault>
</operation>
</binding>
<service name="MarketplacceService">
<port name="MarketplaceServicePort" binding="tns:MarketplaceServicePortBinding">
<soap:address location="http://localhost:37177/MarketplacceService/MarketplaceService"/>
</port>
</service>
</definitions>